.connection-status {
  position: absolute;
  top: 0;
  z-index: 50;
  width: 100%;
  background-color: rgb(255, 0, 123);
  padding: 0.5rem;
  text-align: center;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgb(255, 255, 255);
}
