#container {
  height: 100vh;
  font-family:
    Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans", Arial,
    sans-serif;
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  filter: blur(100px);
  width: 100%;
  height: 100%;
}

main {
  display: flex;
  justify-content: center;
  height: 100%;
}

#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 16px;
  gap: 16px;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 16px;
}

h1 {
  margin-top: 0.25em;
  font-size: 22px;
}

#links {
  display: flex;
  gap: 16px;
}

#links a {
  display: flex;
  align-items: center;
  transition: color 0.2s;
  padding: 10px 12px;
  color: #111827;
  text-decoration: none;
}

#links a:hover {
  color: rgb(78, 80, 86);
}

#links a svg {
  margin-left: 8px;
  height: 1em;
}

#links a.button {
  box-shadow:
    inset 0 0 0 1px rgba(255, 255, 255, 0.12),
    inset 0 -2px 0 rgba(0, 0, 0, 0.24);
  border-radius: 10px;
  background: linear-gradient(83.21deg, #3245ff 0%, #bc52ee 100%);
  color: white;
}

#links a.button:hover {
  box-shadow: none;
  color: rgb(230, 230, 230);
}

pre {
  background: linear-gradient(14deg, #d83333 0%, #f041ff 100%);
  -webkit-background-clip: text;
  font-weight: normal;
  font-family:
    ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas,
    "DejaVu Sans Mono", monospace;
  -webkit-text-fill-color: transparent;
  margin: 0;
  background-clip: text;
}

h2 {
  margin: 0 0 1em;
  color: #111827;
  font-weight: normal;
  font-size: 20px;
}

p {
  margin: 0;
  color: #4b5563;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.006em;
}

code {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 8px;
  background:
    linear-gradient(66.77deg, #f3cddd 0%, #f5cee7 100%) padding-box,
    linear-gradient(155deg, #d83333 0%, #f041ff 18%, #f5cee7 45%) border-box;
  padding: 6px 8px;
}

.box {
  border: 1px solid white;
  border-radius: 16px;
  background: rgba(255, 255, 255, 1);
  padding: 16px;
}

#news {
  position: fixed;
  right: 16px;
  bottom: 16px;
  backdrop-filter: blur(50px);
  transition: background 0.2s;
  max-width: 300px;
  text-decoration: none;
}

#news:hover {
  background: rgba(255, 255, 255, 0.55);
}

@media screen and (max-height: 368px) {
  #news {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  #container {
    display: flex;
    flex-direction: column;
  }

  #hero {
    display: block;
    padding-top: 10%;
  }

  #links {
    flex-wrap: wrap;
  }

  #links a.button {
    padding: 14px 18px;
  }

  #news {
    right: 16px;
    bottom: 2.5rem;
    left: 16px;
    max-width: 100%;
  }

  h1 {
    line-height: 1.5;
  }
}
