---
import UserConnectionStatus from "../cra-project/components/UserConnectionStatus/index.tsx";
import "../styles/main.scss";
import ScrollSmooth from "../cra-project/components/animation/ScrollSmooth.tsx";
import { ClientRouter } from "astro:transitions";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ClientRouter />
  </head>
  <body>
    <UserConnectionStatus client:load />
    <ScrollSmooth client:load>
      <slot />
    </ScrollSmooth>
  </body>
</html>
