---
// ⬇️ Ini adalah script Astro block (harus di paling atas)
import UserConnectionStatus from '../cra-project/components/UserConnectionStatus/index.js';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<UserConnectionStatus client:load />
		<slot />
	</body>
</html>
